.table {
    // border: 1px solid #ddd;

    .tr {
        :last-child {
            .td {
                border-bottom: 0;
            }
        }
    }

    .th,
    .td {
        padding: 5px;
        background-color: #fff;
        overflow: hidden;
        border-right: 0px;

        :last-child {
            border-right: 0;
        }
    }

    &.sticky {
        overflow: scroll;

        .header,
        .footer {
            position: sticky;
            z-index: 1;
            width: fit-content;
        }

        .header {
            top: 0;
            box-shadow: 0px 3px 3px #ddd;
            background: #fff;
            color: #64748B;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
        }

        .body {
            position: relative;
            z-index: 0;
            background: #fff;
        }

        [data-sticky-td] {
            box-shadow:
                inset -1px 0px 0px #ddd;
            position: sticky;
        }

        [data-sticky-last-left-td] {
            box-shadow:
                inset -2px 0px 2px #ddd,
                // inset 0px -11px 8px -10px #ddd;
        }

        [data-sticky-first-right-td] {
            box-shadow:
                inset 1px 0px 0px #ddd;
        }
    }
}

table {
    th {
        min-width: 290px;

        &:first-child {
            min-width: auto;
        }
    }

    .column-title {
        &:first-child {}
    }
}


.warehouse-table td:not(:nth-child(1)):not(:nth-child(2)),
.warehouse-table th:not(:nth-child(1)):not(:nth-child(2)) {
    border-right: 0 !important;
    border-left: 0 !important;
}

.warehouse-table .header tr:nth-child(2) td,
.warehouse-table .header tr:nth-child(2) th {
    background-color: #F8FAFC;
}

.warehouse-table td:nth-child(1),
.warehouse-table th:nth-child(1) {
    padding: 5px;
}

.burger img {
    max-width: 1000px;
    width: 40px;
}

.open-modal {
    margin-right: 0px;
}

.table-main {
    max-width: 1222px;
}

.table-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-column {
    display: flex
}