.queryBuilder {
    .ruleGroup {
        background-color: #fff;
        border: 1px solid rgb(226, 232, 240);
    }

    select,
    input {
        border: 1px solid;
        border-color: rgba(226, 232, 240, var(--tw-border-opacity));
    }
}